body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  /* Default values */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
}

ul.a {
  list-style-position: outside;
}

ul,
ol {
  list-style-type: none;
}

h2 {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Header*/
.nav {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-item:hover{
    color: #404bbf;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  color: #4d5ae5;
}

.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
  flex-shrink: 0;
}

.address {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-adress {
  color: var(--SLATE, #434455);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-adress:hover {
  color: #404bbf;
}
.list-adress:focus {
  color: #404bbf;
}

/* section1 */
.section-list {
  background: var(--NAVY-BLUE, #2e2f42);
  flex-shrink: 0;
}
.title-main {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}

/* section2 */
.section2 {
  flex-shrink: 0;
}

h3 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-advant {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;—Å
}
.section-portfolio {
  flex-shrink: 0;
  background-color: #f4f4fd;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}
/* section3 */
.section-portfolio {
}

.list-our-team {
  background: var(--WHITE, #fff);
}

h3 {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.list-our-team-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section4 */
.section4 {
  flex-shrink: 0;
}
.title-our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-our-portfolio-h {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-our-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-portfolio {
  background: #fff;
}

.list-text {
  letter-spacing: 0.02;
}

/* footer */
.footer {
  flex-shrink: 0;
  background-color: #2e2f42;
}
.lodo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span-foooter {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
